# Default registry: Azure DevOps Artifacts (with upstream npm registries configured)
registry=https://pkgs.dev.azure.com/informatiq/453f2307-e604-4108-b840-892f91a34e4d/_packaging/Packages/npm/registry/
always-auth=true